{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}HTTP Rest example{% endblock %}</h1>
{% endblock %}

{% block content %}
  <button onclick="sendPostRequest()">Launch</button>
  <div id="response"></div>
  <script>
    function sendPostRequest() {
      fetch('/rest_api', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          body_message: 'Hello, World!'
        })
      })
      .then(response => response.text())
      .then(text => {
        document.getElementById('response').innerHTML = text;
      });
    }
  </script>
{% endblock %}